<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Inventario</title>
        <link rel="stylesheet" href="/crear.css">
    </head>
    <body>
        <form th:action="@{/crearInventario}" th:object="${inventario}" method="post">        
            <div class="conteiner">
                <label for="med">Medicamento</label>
                <select name="med" th:field="*{medicine}">
                    <option th:each=" item : ${medicines}" th:value="${item.id}" th:text="${item.genericName}"></option>
                </select>
                <br>
                <label for="ca">Cantidad</label>
                <input type="number" name="ca" th:field="*{amountAvailable}" th:value="*{amountAvailable}" min="1">
                
                <br>
                <label for="lo">Ubicacion</label>
                <input type="text" name="lo" th:field="*{location}" th:value="*{location}">
                <span class="error" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>

                <br>
                <label for="da">Fecha de expiracion</label>
                <input type="date" name="da" th:field="*{dateExpiration}" th:value="*{dateExpiration}">
                <span class="error" th:if="${#fields.hasErrors('dateExpiration')}" th:errors="*{dateExpiration}"></span>
                <div class="opciones">
                    <input type="submit" name="action" value="Guardar">
                    <input type="submit" name="action" value="Cancelar">
                </div>
            </div>
        </form>
    </body>
</html>