<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listar Atenciones</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <form th:action="@{/listarAtenciones}" th:object="${lis}" method="post">
        <div class="filtro">
            <input class="date" type="date" th:value="*{date}" th:field="*{date}">
            <input class="button" name="action" type="submit" value="Filtrar">
        </div>
        <p class="empty" th:if="${lis.list==null||lis.list.empty}">No hay Atenciones</p>
        <div th:if="${lis.list!=null&&!lis.list.empty}">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Paciente</th>
                        <th>fecha</th>
                        <th>Descripcion general</th>
                        <th>Procedimiento realizado</th>
                        <th>Transferido</th>
                        <th>Lugar de transferencia</th>
                        <th>Observaciones</th>
                        <th>Suministros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" atencion : *{list}">
                        <td th:text="${atencion.id}"></td>
                        <td th:text="${atencion.pacient.names}"></td>
                        <td th:text="${#dates.format(atencion.dateHour,'dd MMM yyyy')}" ></td>
                        <td th:text="${atencion.generalDescription}"></td>
                        <td th:text="${atencion.procedureDone}"></td>
                        <td th:text="${atencion.transfer}"></td>
                        <td th:text="${atencion.placeTransfer}"></td>
                        <td th:text="${atencion.observations}"></td>
                        <td>
                            <select>
                                <option th:each=" s: ${atencion.supplys}" th:text="${s.medicine.genericName+' '+ s.amount}"></option>
                            </select>
                        </td>

                    </tr>
                    
                </tbody>
            </table>
       </div >
       <div class="opciones">
           <input class="button" type="submit"  name="action" value="Agregar Atencion">
           <input class="button" type="submit"  name="action" value="Ir a Inicio">

       </div>

        </form>
        
    </body>
</html>